@model List<dienlanh.Models.RepairRequest>

<h2>Danh sách yêu cầu</h2>

<table border="1">
    <tr>
        <th>Thiết bị</th>
        <th>Sự cố</th>
        <th>Trạng thái</th>
        <th>Phân công</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DeviceType</td>
            <td>@item.Issue</td>
            <td>@item.Status</td>
            <td>
                <a href="/Admin/Assign/@item.Id">Gán thợ</a>
            </td>
        </tr>
    }
</table>