<h2 class="text-center mb-4">Trang khách hàng</h2>

<div class="container">
    <div class="row">

        <!-- Đặt sửa chữa -->
        <div class="col-md-4">
            <div class="card shadow text-center">
                <img src="https://kholanhngocnhi.com/wp-content/uploads/2021/05/sua-may-lanh-cong-nghiep.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5>Đặt sửa chữa</h5>
                    <a href="/Repair/Create" class="btn btn-primary">Đặt ngay</a>
                </div>
            </div>
        </div>

        <!-- Lịch sử -->
        <div class="col-md-4">
            <div class="card shadow text-center">
                <img src="https://kholanhngocnhi.com/wp-content/uploads/2021/05/sua-may-lanh-cong-nghiep.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5>Lịch sử sửa chữa</h5>
                    <a href="/Repair/History" class="btn btn-success">Xem</a>
                </div>
            </div>
        </div>

        <!-- Thông tin -->
        <div class="col-md-4">
            <div class="card shadow text-center">
                <img src="https://kholanhngocnhi.com/wp-content/uploads/2021/05/sua-may-lanh-cong-nghiep.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5>Tài khoản</h5>
                    <a href="/Account/Profile" class="btn btn-warning">Xem</a>
                </div>
            </div>
        </div>

    </div>
</div>