@model dienlanh.Models.RepairRequest
@{
    ViewData["Title"] = "Tạo yêu cầu";
}

<h3 class="mb-4">Tạo yêu cầu sửa chữa</h3>

<form method="post" enctype="multipart/form-data" class="card p-4 shadow">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }



    <!-- Thiết bị -->
    <div class="mb-3">
        <label>Loại thiết bị</label>
        <select asp-for="DeviceType" class="form-control" required>
            <option value="">-- Chọn thiết bị --</option>
            <option>Máy lạnh</option>
            <option>Tủ lạnh</option>
            <option>Máy giặt</option>
            <option>Quạt điện</option>
            <option>Lò vi sóng</option>
        </select>
    </div>

    <!-- Sự cố -->
    <div class="mb-3">
        <label>Sự cố</label>
        <input asp-for="Issue" type="text" class="form-control" placeholder="Mô tả lỗi..." required />
    </div>

    <!-- Địa chỉ -->
    <div class="mb-3">
        <label>Địa chỉ</label>
        <input asp-for="Address" type="text" class="form-control" required />
    </div>

    <!-- Ngày giờ mong muốn -->
    <div class="mb-3">
        <label>Ngày giờ mong muốn sửa chữa</label>
        <input asp-for="PreferredVisitAt" type="datetime-local" class="form-control" required />
        <small class="text-muted">Bạn có thể gửi yêu cầu 24/7. Khung giờ phục vụ tại nhà: 08:00 - 19:00 mỗi ngày.</small>
    </div>

    <!-- SĐT -->
    <div class="mb-3">
        <label>Số điện thoại</label>
        <input asp-for="Phone" type="text" class="form-control" required />
    </div>

    <!-- Email -->
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" type="email" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Hình ảnh thiết bị</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <button class="btn btn-primary w-100">
        Gửi yêu cầu
    </button>

</form>