@model List<dienlanh.Models.RepairRequest>

<h2 class="text-center mt-3">Danh sách yêu cầu sửa chữa</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <img src="/images/repair.jpg" class="card-img-top" />

                    <div class="card-body">
                        <h5 class="card-title">@item.DeviceType</h5>
                        <p class="card-text">@item.Issue</p>
                        <p><b>Trạng thái:</b> @item.Status</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>